body {
  font-family: "Roboto", sans-serif;
}
.flag {
  width: 100px;
  height: auto;
}
.bg-1 {
  background-image: url(../img/1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.bg-2 {
  background-image: url(../img/2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.bg-3 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.bg-4 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.text-gray {
  color: lightgrey;
}
.bg-footer {
  background-color: black;
}
a {
  color: inherit;
}
a:hover {
  color: lightgray;
  text-decoration: none;
}
